{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
{% include "FOSUserBundle:Profile:show_content.html.twig" %}


<div class="row" >
	<div class="col-md-3 ">
    <blockquote>
      <h5> Mjesec / Godina </h5>
      <h3><strong>{{ mjesec }}/{{ godina }}</strong></h3>
    </blockquote>
	</div>	
	<div class="col-md-2">
    <blockquote>
      <h5> Odrađeno sati: </h5>
      <h3><strong>{{ odradeno }} </strong></h3>
    </blockquote>
	</div>	
	<div class="col-md-7">

		<nav aria-label="Page navigation" class="pagination float-right top-30">
          <ul class="pagination inline-block">
            <li>
              <a href="/profile/{{ next_g }}/{{ next_m }}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
              {% for mjesec in mjeseci %}
                  <li><a href="/profile/{{ mjesec.godina }}/{{ mjesec.mjesec }}"><b>{{ mjesec.mjesec }}</b> <small>/</small>{{ mjesec.godina }}</a></li>
              {% endfor %}

            <li>
              <a href="/profile/{{ previous_g }}/{{ previous_m }}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          </ul>
        </nav>
	</div>	
</div>


 <table class="table main-table table-bordered">
              <thead>
                <tr>
                  <th>Datum</th>
                  <th>Dolazak </th>
                  <th>Odlazak</th>
                  <th>Odrađeno</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>

              {% set br = range(1,31) %}
              {% for br, dan in evidencija %}
                  <tr>
                      <td>{{ dan.datum|date("d/m/Y") }}</td>
                      <td>{{ dan.vrijemeDolaska|date('H:i') }}</td>
                      <td>{{ dan.vrijemeOdlaska|date('H:i') }}</td>
                      <td>{{ dan.doneBusinessHours()|round(2, 'floor') }}</td>
                      <td data-toggle="collapse" data-target="#{{ br }}">
                        Više informacija <span class="glyphicon glyphicon-chevron-down"></span>
                      </td>
                    </tr>

                     <tr id="{{ br }}" class="collapse">
                            {% for provjera, time  in dolasci %}
                                {% if dan.datum|date("d/m/Y")==time.date|date("d/m/Y") %}
                                    <td colspan="1">{{ time.time|date("H:i") }} - {{ time.razlogId.razlog }}</td>
                                {% endif %}

                            {% endfor %}

                     </tr>
              {% endfor %}



              </tbody>
 </table>
           

{% endblock fos_user_content %}
