{% extends 'dashboard/dashboard-base.html.twig' %}
{% trans_default_domain 'FOSUserBundle' %}


{% block maincontent %}


<h1 class="page-header">Registracija zaposlenika</h1>


{% if message!="" %}
<div class="alert alert-info">
  <strong>Info!</strong> {{ message }}
</div>
{% endif %}


<div class="panel-group">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" href="#collapse1">Unesite detalje o zaposleniku <small> ( za detaljnije upute kliknite ovdje ) </small></a>     
    
    </div>
    <div id="collapse1" class="panel-collapse collapse">
      <div class="panel-body">opis registracija lorem ispum je to bla bla bla</div>
    </div>
  </div>
</div>




{{ form_start(form, {'method': 'post', 'action': '/dashboard/registracija', 'attr': {'class': 'form-horizontal'}}) }}
    {{ form_widget(form, {'attr' : {'class': 'registracijska-forma' }} ) }}
    <div class="subm">
        <input type="submit" value="{{ 'registration.submit'|trans }}" class="btn btn-primary btn-lg" />
    </div>
{{ form_end(form) }}



{% endblock %}