{% trans_default_domain 'FOSUserBundle' %}



<form action="{{ path("fos_user_security_check") }}" method="post" class="form-signin">
 <h2 class="form-signin-heading">Prijava</h2>
 {% if error %}
    <p class="text-danger">{{ error.messageKey|trans(error.messageData, 'security') }}!</p>
{% endif %}
    {% if csrf_token %}
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
    {% endif %}

    <label for="username" class="sr-only">{{ 'form.username'|trans }}</label>
    <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" class="form-control" placeholder="KorisniÄko ime" />

    <label for="password" class="sr-only">{{ 'form.password'|trans }}</label>
    <input type="password" id="password" name="_password" required="required" class="form-control" placeholder="Lozinka"  />

    <div class="text-right"> 
        <input type="checkbox" id="remember_me" name="_remember_me" value="on" class="pull-right" />
        <label for="remember_me" class="pull-right">{{ 'security.login.remember_me'|trans }}</label>

    </div>

    <button class="btn btn-lg btn-primary btn-block"  type="submit" id="_submit" name="_submit" value="{{ 'layout.login'|trans }}" />Prijava</button>
    <br>
    <p class="text-center"><a href="/resetting" class="text-info">Zaboravili ste lozinku?</a></p>
</form>


