{% extends 'dashboard/dashboard-base.html.twig' %}
{% trans_default_domain 'FOSUserBundle' %}


{% block maincontent %}


<h1 class="page-header">Kontrolna ploča</h1>

<div class="panel-group">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" href="#collapse1">Zaposlenk: <strong>{{ user.name }} {{ user.surname }}</strong></a>
      
      <h4 class="panel-title"><small>Odrađeno sati:</small> <strong> {{ sati }} </strong> </h4>
    </div>
    <div id="collapse1" class="panel-collapse collapse">
      <div class="panel-body">Odjel 1</div>
      <div class="panel-body">Odjel 2 u budućnosti</div>
    </div>
  </div>
</div>



<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">
      <a data-toggle="collapse" href="#collapse2">Mjesec: <strong>{{ mjesec }} </strong><small>/{{ godina }}</small></a>
    </h4>
  </div>
  <div id="collapse2" class="panel-collapse collapse">
    <div class="panel-body">
      <div class="row ">
        <div class="col-xs-12 "> 

          <nav aria-label="Page navigation" class="pagination-nav">
            <ul class="pagination">
              <li>
                <a href="/dashboard/radnik/{{ user.Id }}/{{ next_g }}/{{ next_m }}" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                </a>
              </li>
                {% for mjesec in mjeseci %}
                  <li><a href="/dashboard/radnik/{{ user.Id }}/{{ mjesec.godina }}/{{ mjesec.mjesec }}"><b>{{ mjesec.mjesec }}</b> <small>/</small>{{ mjesec.godina }}</a></li>
                {% endfor %}
              <li>
                <a href="/dashboard/radnik/{{ user.Id }}/{{ previous_g }}/{{ previous_m }}" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                </a>
              </li>
            </ul>
          </nav>

        </div>  

      </div>
    </div>
  </div> 
</div>


            <table class="table table-striped table-employee">
              <thead>
                <tr>
                  <th>Datum</th>
                  <th>Dolazak </th>
                  <th>Odlazak</th>
                  <th>Odrađeno</th>
                  <th>Neprisustvo</th>
                  <th>Više informacija</th>
                </tr>
              </thead>
              <tbody>
                {% set br = range(1,31) %}
                {% for br, dan in evidencija %}
                <tr>
                  <td>{{ dan.datum|date("d/m/Y") }}</td>
                  <td>{{ dan.vrijemeDolaska|date('H:i') }}</td>
                  <td>{{ dan.vrijemeOdlaska|date('H:i') }}</td>
                  <td>{{ dan.doneBusinessHours|round(2, 'floor') }}</td>
                  <td>
                    {% if(dan.notWorkingId.id==1) %}
                    <button class="btn dropdown-toggle btn-width" type="button" >
                      {{ dan.notWorkingId.neprisustvo }}
                    </button>
                    {% else %}
                    <!-- Small button group -->
                    <div class="btn-group">
                      <button class="btn btn-primary btn-sm dropdown-toggle btn-width" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{ dan.notWorkingId.neprisustvo }}<span class="caret"></span>
                      </button>
                      {#<select name="change_nedolazak">#}
                          {#{% set id = range(1,15) %}#}
                          {#{% for id, razlog in razlog_nedolaska %}#}
                            {#<option value="{{ id }}">{{ razlog.neprisustvo }}</option>#}
                          {#{% endfor %}#}
                      {#</select>#}
                      <ul class="dropdown-menu">
                        {% set id = range(1,15) %}
                        {% for id, razlog in razlog_nedolaska %}
                          <li><a href="# {{ id }}">{{ razlog.neprisustvo }}</a></li>
                        {% endfor %}
                      </ul>
                    </div>
                    {% endif %}
                  </td>
                  <td data-toggle="collapse" data-target="#{{ br }}">
                    Više informacija <span class="glyphicon glyphicon-chevron-down"></span>
                  </td>
                </tr>
                <tr id="{{ br }}" class="collapse">

                    {% for time in dolasci %}
                        {% if dan.datum|date("d/m/Y")==time.date|date("d/m/Y") %}
                          <td colspan="1">{{ time.time|date("H:i") }}</td>
                          <td colspan="1">{{ time.razlogId.razlog }}</td>
                        {% endif %}

                    {% endfor %}

                </tr>
              {% endfor %}
             
                  
                
              </tbody>
            </table>  


{% endblock %}