{% extends 'dashboard/dashboard-base.html.twig' %}


{% block maincontent %}



<h1 class="page-header">Kontrolna ploča</h1>

<div class="panel-group">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" href="#collapse1">Zaposlenici: <strong>svi</strong></a>
      </h4>
    </div>
    <div id="collapse1" class="panel-collapse collapse">
      <div class="panel-body">Odjel 1</div>
      <div class="panel-body">Odjel 2 u budućnosti</div>
    </div>
  </div>
</div>



<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Mjesec: <strong>{{ mjesec }} </strong><small>/{{ godina }}</small></h3>
  </div>
  <div class="panel-body">
    <div class="row ">
      <div class="col-xs-12 "> 

        <nav aria-label="Page navigation" class="pagination-nav">
          <ul class="pagination">
            <li>
              <a href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            </li>
              {% for mjesec in mjeseci %}
                <li><a href="/dashboard/{{ mjesec.godina }}/{{ mjesec.mjesec }}"><b>{{ mjesec.mjesec }}</b> <small>/</small>{{ mjesec.godina }}</a></li>
              {% endfor %}
            <li>
            <li>
              <a href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          </ul>
        </nav>

      </div>  

    </div>
  </div>
</div>



          <div class="table-responsive">
            <table class="table table-striped tablica-prva">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Ime i prezime</th>
                  <th>Odrađeno sati </th>
                  <th>Sati neprisustva na <br>poslu(bolovanje, itd.)</th>
                  <th>Prekovremeni</th>
                  <th>Više</th>
                </tr>
              </thead>
              <tbody>
                {% for korisnik in odradeno %}
                <tr>
                    
                    <td>{{ korisnik.user.id }}</td>
                    <td>{{ korisnik.user.name }} {{ korisnik.user.surname }}</td>
                    <td>{{ korisnik.odradeno }}</td>
                    <td>6</td>
                    <td>{{ korisnik.prekovremeni }}</td>
                    <td><a href="/dashboard/radnik/{{ korisnik.user.id }}/{{ korisnik.godina }}/{{ korisnik.mjesec }}"><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span></a></td>
                </tr>
                {% endfor %}
                
              </tbody>
            </table>
          </div>
  
{% endblock %}       