{% extends 'dashboard/dashboard-base.html.twig' %}
{% trans_default_domain 'FOSUserBundle' %}


{% block maincontent %}


<h1 class="page-header">Izvješće po danu</h1>


<div class="panel panel-default">
    <div class="panel-heading">
      <div class="row " >
                <form action="/reports/po_danu/detaljno" method="POST">
                  <div class="col-md-3">
                    <label for="k">Odaberite datum</label>  
                    <input type="date" name="datum" class="form-control input-sm ">
                  </div>
                  <div class="col-md-3">  
                    <label for="k">   </label>  
                    <input type="submit" class="form-control btn btn-primary" value="Prikaži">
                  </div>  
                </form>
      </div>  
    </div>
  </div>




<div class="row">
  <div class="col-md-4">
    <blockquote>
      <h5> Datum: </h5>
      <h4><strong>{{ datum|date('d/m/Y') }}</strong></h4>
    </blockquote>
  </div>
  <div class="col-md-4">
    <blockquote>
      <h5>Odrađeno sati:</h5>
      <h4> <strong>{{ sati }}</strong></h4>
    </blockquote>
  </div>
</div> 




<div class="report-container">
            <table class="table table-striped table-employee table-bordered">
              <thead>
                <tr>
                  <th>1) Ime i prezime radnika</th>
                  <th>3) Početak rada</th>
                  <th>4) Završetak rada</th>
                  <th>5) Vrijeme sati zastoja krivnjom</th>
                  <th>6) ukupno dnevno radno vrijeme</th>
                  <th>7) vrijeme terenskog rada</th>
                  <th>8) vrijeme pripravnosti</th>
                  <th>dnevni odmor</th>
                  <th>tjedni odmor</th>
                  <th>godišnji odmor</th>
                  <th>blagdan/ neradni dan</th>
                  <th>bolovanje</th>
                  <th>dopust - rodiljni/ roditeljski</th>
                  <th>dr. roditeljska prava</th>
                  <th>plaćeni dopust</th>
                  <th>neplaćeni dopust</th>
                  <th>po zahtjevu radnika</th>
                  <th>krivnjom radnika</th>
                  <th>zbog štrajka</th>
                  <th>zbog isključenja s rada</th>
                  <th>rad noću</th>
                  <th>smjenski rad</th>
                  <th>dvokratni rad</th>
                  <th>prekovremeni rad</th>


                </tr>
              </thead>
              <tbody>


              {% for dan in evidencija %}
                <tr>

                  <td>{{ dan.userId.name }} {{ dan.userId.surname }}</td>
                  <td>{{ dan.vrijemeDolaska|date('H:i') }}</td>
                  <td>{{ dan.vrijemeOdlaska|date('H:i') }}</td>
                  <td></td>
                  <td>{% if dan.notWorkingId.id == 1 %} {{ dan.doneBusinessHours|round(2, 'floor') }} {% endif%}</td>
                  <td></td>
                  <td></td>
                  <td>{% if dan.notWorkingId.id == 2 %}8{% endif%}</td>
                  <td>{% if dan.notWorkingId.id == 3 %}8{% endif%}</td>
                  <td>{% if dan.notWorkingId.id == 4 %}8{% endif%}</td>
                  <td>{% if dan.notWorkingId.id == 5 %}8{% endif%}</td>
                  <td>{% if dan.notWorkingId.id == 6 %}8{% endif%}</td>
                  <td>{% if dan.notWorkingId.id == 7 %}8{% endif%}</td>
                  <td>{% if dan.notWorkingId.id == 8 %}8{% endif%}</td>
                  <td>{% if dan.notWorkingId.id == 9 %}8{% endif%}</td>
                  <td>{% if dan.notWorkingId.id == 11 %}8{% endif%}</td>
                  <td>{% if dan.notWorkingId.id == 12 %}8{% endif%}</td>
                  <td>{% if dan.notWorkingId.id == 13 %}8{% endif%}</td>
                  <td>{% if dan.notWorkingId.id == 14 %}8{% endif%}</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>

                </tr>
              {% endfor %}


                
              </tbody>
            </table>  
</div>

{% endblock %}