{% extends 'dashboard/dashboard-base.html.twig' %}
{% trans_default_domain 'FOSUserBundle' %}


{% block maincontent %}


<h1 class="page-header">Izvješće po radniku</h1>

<div class="panel-group">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title"></h4>

      <form action="po_radniku/detaljno" method="POST">
        <select name="g">
            {% for godina in godine %}
              <option value="{{ godina }}">{{ godina }}</option>
            {% endfor %}
        </select>
        <select name="m">
            {% for mjesec in mjeseci %}
              <option value="{{ mjesec }}">{{ mjesec }}</option>
            {% endfor %}

        </select>
        <select name="k">
            {% for user in users %}
              <option value="{{ user.id }}">{{ user.name }}</option>
            {% endfor %}
        </select>
        <input type="submit" value="Submit">
      </form>
  </div>
</div>

{% endblock %}