{% trans_default_domain 'FOSUserBundle' %}

<form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request form-horizontal">
	<h2 class="form-signin-heading">Promjena lozinke</h2>
	<blockquote>
		<p> Unesite Vaše <b>korisničko ime</b> ili <b>email</b> adresu vezanu uz račun kako biste promijenili vašu lozinku.</p>
	</blockquote>
	<blockquote>
	<p> Unutar nekoliko minuta na Vaš email vezan uz recent račun doći će poruka za promjenu lozinke. Nakon toga sljedite upute u poruci.</p>
	</blockquote>
	<div class="form-group ">
		<label for="username" class="col-sm-3 control-label">{{ 'resetting.request.username'|trans }} ili {{ 'form.email'|trans }}</label>
		<div class="col-sm-9">
		    <input type="text" id="username" name="username" required="required" class="form-control" value="{% if is_granted("IS_AUTHENTICATED_FULLY") %}{{ app.user.email }}{% endif %}"/>
		</div>	      
	</div>
		<div class="form-group">
			<div class="col-sm-offset-3 col-sm-9">
		   		<input type="submit" class="btn btn-default btn-primary " value="{{ 'resetting.request.submit'|trans }}" />
			</div>
		</div>
	<div>
		        	    
</form>


